In [1]:
import pandas as pd
import os

In [8]:
df = pd.read_csv("./datasets3/sp500_companies.csv", encoding='ISO-8859-1')

In [10]:
sector_list = df["Sector"].unique()
sector_list

array(['Consumer Services', 'Technology Services',
       'Consumer Non-Durables', 'Finance', 'Health Technology',
       'Electronic Technology', 'Retail Trade', 'Distribution Services',
       'Consumer Durables', 'Producer Manufacturing',
       'Commercial Services', 'Industrial Services', 'Utilities',
       'Process Industries', 'Non-Energy Minerals', 'Transportation',
       'Health Services', 'Energy Minerals', 'Communications'],
      dtype=object)

In [13]:
sorted_df = pd.concat([df[df["Sector"] == sector] for sector in sector_list])

In [15]:
sorted_df.to_csv('./datasets3/arrange_sp500_companies.csv', index=False, encoding='ISO-8859-1')

In [18]:
len_list =[]
for sector in sector_list:
    len_list.append(len(df[df["Sector"] == sector]))

In [19]:
len_list

[26, 48, 29, 89, 44, 46, 22, 9, 12, 26, 12, 9, 30, 21, 6, 15, 12, 16, 3]

In [4]:
SP500_name

    Symbol                           Name                 Sector
0      LVS          Las Vegas Sands Corp.      Consumer Services
1      CRM               Salesforce, Inc.    Technology Services
2      TAP  Molson Coors Beverage Company  Consumer Non-Durables
3     WELL                 Welltower Inc.                Finance
4     PANW       Palo Alto Networks, Inc.    Technology Services
..     ...                            ...                    ...
470   QRVO                    Qorvo, Inc.  Electronic Technology
471    HAS                   Hasbro, Inc.      Consumer Durables
472    NRG               NRG Energy, Inc.              Utilities
473   XRAY           DENTSPLY SIRONA Inc.      Health Technology
474    WHR          Whirlpool Corporation      Consumer Durables

[475 rows x 3 columns]